* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: gainsboro;
}
header {
    text-align: center;
}
h1 {
    margin-bottom: 0;
}
h2 {
    margin: 0;
}

/* TODO
    - make it so they stack on mobile
    - make it look more compress on a larger screen
*/

header h2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 1em;
}


.row {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    column-gap: 3em;
    row-gap: 1em;
    padding-bottom: 1em;

}

.card {
    background-color: white;
    border-radius: 7pt;
    box-shadow: 0 0 0 1pt grey;
    padding: 1rem;
    padding-top: 0;
    max-width: 300px;
    min-width: 300px;
    word-wrap: break-word;
}
.card h3 {
    font-size: 140%
}
.card p, .card li{
    font-size: 120%;
}

@media screen and (max-width: 768px) {
    header h2 {
        display: flex;
        flex-direction:column ;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    header h2 p {
        margin: 0;
        margin-bottom: auto;
    }
    .row {
        display: flex;
        flex-direction:column;
        row-gap: 1em;
        align-items:center;

    }

    
}